<!DOCTYPE html>
<html>

<head>
    <title>node.js 简单用户管理系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    {{!-- 引入静态样式文件 --}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{!-- 引入导航 模板语法--}}
     {{> _navbar}}
    <div class="container">
        {{!-- 信息提示 --}}
         {{> _msg}}
         {{!-- 错误信息 --}}
          {{> _errors}}
          {{!-- 主体展示 --}} 
          {{{body}}}
    </div>




</body>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</html>